---
const { data } = Astro.props as {
  data: {
    name: string;
    artist: string;
    link: string;
    cover: string;
  };
};
---

<a href={data.link} title={`"${data.name}" by ${data.artist}`}>
  <img src={data.cover} alt={data.name} />
</a>
