---
const { theme } = Astro.props;
---

<button
  class={`border cursor-pointer px-3 py-1`}
  style={{
    backgroundColor: `var(--color-${theme}-background)`,
    borderColor: `var(--color-${theme}-accent)`,
  }}
  id={`theme-button-${theme}`}
>
  <span style={{ color: `var(--color-${theme}-text)` }}>Use</span>
  <span style={{ color: `var(--color-${theme}-accent)` }} class="underline">
    {theme}
  </span>
</button>
<script is:inline define:vars={{ theme }}>
  const themes = ["default", "dark", "pink"];

  document.getElementById(`theme-button-${theme}`).onclick = () => {
    if (theme) {
      localStorage.theme = theme;
    }

    if (!themes.includes(localStorage.theme)) {
      localStorage.theme = "default";
    }

    document.body.classList.remove(...themes.map((theme) => `theme-${theme}`));
    document.body.classList.add(`theme-${localStorage.theme}`);
  };
</script>
